<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY WEBSITE</title>
  </head>

  <body>
    <h1>Spotify</h1>
    <nav>
<ul>
    <li><a href="/">Start</a> </li>
    <li><a href="/about">About</a> </li>
    <li><a href="/contacts">Contacts</a> </li>
    <li><a href="/accounts">accounts</a> </li>
</ul>
</nav>


<main>
    {{{body}}}
</main>
  </body>

</html>